

/* button {
  cursor: pointer;
  font-size: 1rem;
  padding: 0.6em 1em;
  border-radius: 3px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
 */


.container {
  height: 100%;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
}
.form-container {
  align-self: center;
  padding: 1em;
  width: 50%;
  height: 80%;
  margin: 4em auto;
  border: 2px solid #b0bec5;
  border-radius: 6px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
  transition: all 2s ease;
}



.form-container h3 {
  text-align: center;
}

.form-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 80%;
}

.form-container form input {
  width: 100%;
  padding: 0.6em 1em;
  margin: 0.5em auto;
  font-size: 1rem;
  border-radius: 3px;
  border: 2px solid #e0e0e0;
  outline: none;
  transition: all 0.4s ease;
}

.form-container form input:focus,
.form-container form input:active {
  border: 2px solid #82ada9;
}

.form-container form input:valid {
  border: 2px solid #66bb6a;
}

.form-container form button {
  width: 50%;
  margin: 1em auto;
  background: #56c8d8;
  border: none;
}

.form-container form button:hover {
  box-shadow: 3px 8px 16px rgba(0, 0, 0, 0.5);
}

.form-container form a {
  margin: auto;
}

.form-container form label {
  margin-top: 0.6em;
}
