footer{
  padding: 20px;
  position: absolute;
  min-width: 100%;
}

.row {
  display: flex;

}

.column {
  float: left;
  width: 28vw;
  margin-bottom: 16px;

}

.card {
  box-shadow: 0 0 10px var(--tone4);
  margin: 8px;
  padding: 30px;
}

.card:hover {
  box-shadow: 0 0 10px var(--tone3);
  transition: 500ms all ease-in-out;
}

.about-section {
  padding-top: 50px;
  text-align: center;
  background-color: #F6F6F6;
  color: #27445C;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: #27445C;
}

.icons{
  display: flex;
  justify-content: space-between;
  text-align: right;
  /* flex-direction: row; */
  padding: 2px;
  cursor: pointer;
  width: 100%;
}

.linkedin:hover, .github:hover {
    transform: scale(1.05);
    /* transform: rotate(360deg); */
    transition: 500ms all ease-in-out;
  color: #40E0D0;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: auto;
  padding-top: 15px;
}

.about-section h1 {
  font-size: 44px;
  font-weight: 500;
  padding-top: 30px;
}


.about-us-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
    /* flex-direction: column-reverse; */
  }
  .row{
    display: flex;
    flex-direction: column;
  }
}

