.adventure-detail {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 40px;
}

.detail-title {
  font-size: 40px;
  font-weight: 800;
}

.detail-location {
  font-size: 24px;
  font-weight: 500;
}

.detail-price {
  font-size: 20px;
  padding-top: 5px;
  font-weight: 500;
}

/* .detail-content, .detail-images {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
} */