.sort-container {
  display: flex;
  margin: 20px;
  margin-top: 3px;
  justify-content: center;
}

label {
  font-size: 18px;
  font-weight: 600;
  padding-right: 10px;
}

select {
  background-color: var(--tone1);

  cursor:pointer;
  border: none;
  font-size: 18px;
}

@media (max-width: 500px) {
  .sort-container {
      width: 100%;
      justify-content: center;
      margin: 0px;
  }
}