.shopping-title {
  font-size: 44px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  border: 2px solid red;
}

.adventure-shop-image {
  width: 100px;
}

.shop-container {
  width: 60vw;
  box-shadow: 2px 4px 10px var(--tone5);
  border: 2px solid blue;
  display: flex;
  justify-content: center;
}

.shop-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
}