footer {
  background: var(--tone4);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 30px;
  padding-bottom: 20px;
}

.outer-footer {
  left: 0;
  bottom: 0;
  width: 100vw;
  position: absolute;
}

.foot-title-links {
  color: var(--tone1);
  font-weight: 300;
  font-size: 15px;
}

* {
  text-decoration: none;
}

a {
  color: inherit;
}

.foot-title {
  color: var(--tone2);
  font-weight: 800;
}