.adventure-card {
  width: 22vw;
  height: 22vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2vw;
  font-size: 2.3vw;
  font-weight: 800;
  /* opacity: ; */
  color: white;
  text-shadow: 0 0 20px #fff, 0 0 30px #f0cfdf, 0 0 40px #f0cfdf,
    0 0 50px #f0cfdf, 0 0 60px #f0cfdf, 0 0 70px #f0cfdf, 0 0 80px #f0cfdf;
}

.adventure-card:hover {
  transform: scale(1.05);
  /* transform: rotate(360deg); */
  transition: 500ms all ease-in-out;
}

.adventure-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 220px;
  background-size: 28vw;
}

.adventure-title, .adventure-price, .adventure-location {
  color: var(--tone5);
  margin-top: 4px;
}

.search-pack {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
